html {
  position: relative;
  color: #3a3a3a;
}

#header-img {
  max-width: 500px;
  display: block;
  margin: auto;
}

h1 {
  text-align: center;
  margin: auto;
  font-family: 'ABeeZee', sans-serif;
  font-size: 40px;
}


h2 {
  margin: 0;
  padding: 10px;
}

#gif-buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  margin-top: 40px;
  font-family: 'ABeeZee', sans-serif;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
  color: #3a3a3a;
}

button:hover {
  background: #3a3a3a;
  color: white;
}

button:focus {
  outline: none;
}

button:active {
  transform: translate(2px, 2px);
}

footer {
  position: fixed;
  top: 700px;
  left: 24%;
  margin: auto;
  text-align: center;
  font-family: 'ABeeZee', sans-serif;
}

footer p {
  margin: 0 20px;
  display: inline;

}
